/* BackButton.css */
.back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #29c92e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  