body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .footer {
    background-color: rgba(51, 51, 51, 0.1);
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .social-icons {
    margin-bottom: 15px;
  }
  
  .icon {
    display: inline-block;
    margin: 0 10px;
  }
  
  .icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  p {
    margin: 0;
  }
  