header{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
}

header h1{
    color:#2d3748;
}

header .avtar{
    cursor: pointer;
}
 h3{
    font-size: 30px;
 }
.header {
    position: fixed; 
    top: 0;   
    left: 0;   
    width: 100%;
    height: 80px;   
    padding: 20px 20px; 
    display: flex;
    justify-content: space-between;   
    align-items: center;    
    z-index: 100;   
    box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
    }

    .logo {    
    font-size: 32px;   
    color: #fff;    
    text-decoration: none;    
    font-weight: 700;    
    }
    
    .logo-image{
        width: 50px;
        height: 50px;
    }